  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

  *{
    margin: 0;
    box-sizing: border-box;
  }
  body{
    width: 1280px;
    text-align: center;
    font-family: "Montserrat";
  }
  .header{
    display: block;
  }
  .list{
    padding: 25px 330;
    list-style-type: none;
  }
  .link{
    color: #f00;
    letter-spacing: 2.7px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
  }
  .list-item{
    display: inline-block;
    padding: 25px;
  }

  .image{
    background-size: 100%;
    display: block;
  }
 .title{
    color: #373737;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    padding: 48px;
 }
 .contentfirst{
    color: #373737;
    letter-spacing: 2.5px;
    font-size: 16px;
    padding-top: 38px;
    padding-left: 68px;
    padding-right: 68px;
    font-weight: 400;
 }
 .contentsecond{
    color: #373737;
    letter-spacing: 2.5px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 28px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    padding-bottom: 159px;
 }
 .button{
    background-color: #FF0000;
    color: white;
    border-style: none;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    border-radius: 4px;
    
    width: 191px;
    height: 51px;
 }
.footer{
    padding: 40px 105px 29px 105px;
}

 .footer-text{
    color: #373737;
    text-align: end;
    font-weight: 700;
    letter-spacing: 3.5px;
    padding-top: 82px;
 }